<div class="container-fluid">
    <div class="jumbotron">
        <div class="container">
            <h1 class="display-3">Vive Paques !</h1>
            <p class="lead"></p>
        </div>
    </div>
</div>

{% endblock %}
<div class="container-fluid">
    <div class="row">
        <div class="col-3">
            <!--<div class="d-flex-justify-content-around">-->
                <div class="card" style="width: 18rem;">
                    <img src="{{ eggs.image }}" class="card-img-top" alt="">
                    <div class="card-body">
                        <h5 class="card-title">{{ eggs.name }}</h5>
                        <p class="card-text">{{ eggs.validity}}</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            <!--</div>-->
        </div>
        <div class="col-3 offset-6">
            <!--<div class="d-flex-justify-content-around">-->
                <div class="card" style="width: 18rem;">
                    <img src="{{ eggs.image }}" class="card-img-top" alt="">
                    <div class="card-body">
                        <h5 class="card-title">{{ eggs.name }}</h5>
                        <p class="card-text">{{ eggs.validity}}</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            <!--</div>-->
        </div>
    </div>
</div><!-- vs -->
<div class="egg ">

</div>
<div>
    <img class="vs" src="http://diablorock.com/wp-content/uploads/2016/12/vs.jpg">
</div><!-- easter egg -->
<div class="wrapper">

</div>
<div class="easter_egg">

</div>
